<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="UTF-8">
  <title>Game Lobby</title>
</head>
<body>
  <main class="flex items-center justify-center pt-60">
    <div class="text-center">
    <h1 class="text-6xl font-bold text-gray-800">Vancouver Housing Market</h1>
    <p class="mt-4 text-lg text-gray-600"> Buy properties, collect rent, and outbid your rivals in this multiplayer game! </p>
    </div>
  </main>
</body>
</html>
