/* modal common styling */

:root {
    --bright-yellow: rgb(250, 223, 130);
    --dark-yellow: rgb(209, 189, 110);
    --nice-blue: rgb(55, 128, 153);
}

.modal.buy {
    border: 2px solid var(--bright-yellow);
}

.btn-primary {
    background-color: var(--nice-blue);
    color: white;
}
.btn-primary:hover {
    background-color: var(--dark-yellow);
}
